{{!< default}}
{{> header}}
<main class="main_grizmosis" role="main">
{{#foreach posts}}
<article class="article_grizmosis" role="article" itemscope itemtype="http://schema.org/Article">
<header class="postheader_grizmosis">
<time class="date_grizmosis" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
{{date format='dddd DD MMM YYYY'}}
</time>
<h1 class="posttitle_grizmosis" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
</header>
		<div class="postcontent_grizmosis" itemprop="articleBody">
		{{content words="140"}}
		</div>
		<div class="posttags_grizmosis">
		{{#if tags}}
			sTags: {{tags separator=" | "}}
		</div>
{{/if}}
</article>
{{/foreach}}
{{#if pagination}}
<div class="pagination_grizmosis">
{{{pagination}}}
</div>
{{/if}}
</main>
{{> footer}}